@{ ViewBag.Title = "About"; }
<head>
    <style>
        body {
            background-image: url('../../Content/Images/bg4.jpg');
        }

        .cont {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5cm;
            margin-left: -14px;
            margin-right: -14px;
            height: 110px;
            text-shadow: 4px 4px 5px red;
            background-color: black;
            color: orange;
        }
    </style>
</head>
<body>



    <div class="cont">
        <h2>
            ABOUT US
        </h2>
    </div>



    <div style="text-align: center;
        margin-top: 1.5cm;
        color: black;
        text-shadow: 0px 0px 0px ;">

        <div>
            <h4>
                <b>
                    “A traveller without observation is a bird without wings.”
                    Nurtured from the seed of a single great idea - to empower the travelers of India’s online travel industry. Founded in the year 2021 by the group of 7 individual who made a team that work for the trips that were dreamt in many thoughts and came to life to empower the Indian travelers with instant bookings and comprehensive choices. We initiated our journey serving the Pan India travel market offering a range of best-value products and services during pandemic and powered by technology and round-the-clock customer support for ease and safety during the trips.
                </b>
            </h4>
            <br>
            <h4>
                <b>
                    After We consolidating the position in the market as a brand recognised for its reliability and transparency, We thought launched its pan-India and forigne trips operations by 2025. With more and more Indians initiating to transact online and new opportunities with the advent of low cost carriers,
                    Travelling will be an ease.
                    Travel Diaries offered travelers the convenience of booking travel online with a few clicks.
                </b>
            </h4>
            <br>
            <h2><b><i>“In the end, we only regret the chances we didn’t take”</i><b></h2>
            <br>
            <h2> Take your trip now with Travel diaries.!!!!</h2>
        </div>
    </div>



</body>